@using KMGamesCore.Models.Models
@model PlayerType

@{
    ViewData["title"] = "Delete";
}

<div class="container-fluid justify-content-center w-50">

    <form method="post" asp-controller="PlayerTypes" asp-action="Delete">
        <div class="shadow rounded-4 p-4">

            <h2>Delete Player Type</h2>

            <input asp-for="PlayerTypeId" type="hidden"/>
            <input asp-for="RowVersion" type="hidden"/>

            <div class="form-group">
                <label asp-for="Type" class="form-label"></label>
                <input type="text" asp-for="Type" class="form-control w-50" readonly />
            </div>
        </div>
        <div class="form-group d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-outline-primary w-25">
                <i class="bi bi-check2"></i>
            </button>
            <a asp-controller="PlayerTypes" asp-action="Index" class="btn btn-outline-danger w-25">
                <i class="bi bi-x-lg"></i>
            </a>
        </div>
    </form>

</div>