@using KMGamesCore.Models.Models
@model Country
@{
    ViewData["title"] = "Edit";
}

<div class="container justify-content-center w-50  mt-5">
    <form asp-controller="Countries" asp-action="Edit">
        <div class="shadow bg-body rounded-4 p-4">
            <h2>Edit Country</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

@*              <input asp-for="CountryId" type="hidden"/>
                <input asp-for="RowVersion" type="hidden" />*@

                <label asp-for="Name" class="form-label"></label>
                <input type="text" asp-for="Name" class="form-control w-50"/>
                <span asp-validation-for="Name" class="text-danger"></span>

                @Html.HiddenFor(model => model.CountryId)
                @Html.HiddenFor(model => model.RowVersion)
            </div>
        </div>
        <div class="d-flex justify-content-between mt-5">
            <button type="submit" class="btn btn-outline-primary w-25">
                <i class="bi bi-check2"></i>
            </button>
            <a asp-controller="Countries" asp-action="Index" class="btn btn-outline-danger w-25">
                <i class="bi bi-x-lg"></i>
            </a>
        </div>
    </form>
</div>
@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }

}