<div class="container-fluid justify-content-center">

    <h3>My Games</h3>

    <table class="table align-baseline" id="myGames">
        <thead class="table-primary">
            <tr>
                <th>Image</th>
                <th>Game</th>
                <th>Developer</th>
                <th>Purchased</th>
                <th>Play</th>
            </tr>
        </thead>
        <tbody class="table-secondary">

        </tbody>
    </table>

</div>

@section Scripts{
    <script src="~/js/myGamesTable.js"></script>
}